* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575; /* оcновной главный*/
  --title-text-color: #212121; /*цвет заголовков*/
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff; /*белый */
  --second-bg-color: #f5f4fa; /*вторичный*/
  --third-bg-color: #2f303a; /* background hero fotter title */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /*font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;*/
  background-color: var(--primary-bg-color); /*#ffffff;*/
  color: var(--primary-text-color); /*#757575;*/
}
input {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
ul,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
}

h1 {
  letter-spacing: 0.06em;
}
h2,
h3 {
  letter-spacing: 0.03em;
}
p {
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*==========*/
.header {
  border-bottom: 1px solid #ececec;
}
.container-main {
  justify-content: space-between;
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: var(--primary-bg-color);
  height: 80px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 25px;
}
.logo-color {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
/* Навигация на другие страницы ========== */
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active,
.site-nav .link.current {
  color: var(--accent-color);
}
/*.site-nav .link.visited {} */

.site-nav .link {
  /*font-family: Roboto;
    font-style: normal;*/
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav {
  display: flex;
  margin-left: 93px;
  border: 1px solid transparent;

  /* outline: 1px solid transparent;*/
}
.site-nav .item + .item {
  margin-left: 53px;
}
.menu-link {
  position: relative;
}
.menu-link.current::before {
  opacity: 1;
}
.menu-link::before {
  content: "";
  display: inline-block;
  align-items: center;
  position: absolute;
  opacity: 0;
  left: 0px;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
/*.item {
    margin-top: 32px;
    margin-bottom: 32px;
}*/

/* КОНТАКТЫ ТЕЛ ИКОНКИ*===============*/
.contact-item-svg-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.contact-item-svg-Mobile {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.contact-nav .link:hover,
.contact-nav .link:focus,
.contact-nav .link:active {
  color: var(--accent-color); /*#2196F3; */
}

.link:hover {
  fill: var(--accent-color);
}

.contact-nav .link {
  /*font-family: Roboto;*/
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color); /*#757575;*/
}
.contact-nav {
  display: flex;
  margin-left: auto;
  align-self: flex-end;
  cursor: pointer;
  /*list-style: none;*/
}

.contact-nav .contact-item + .contact-item {
  margin-left: 50px;
}
.contact-item {
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.contact-item .link {
  align-items: center;
}
/*============Герой*====================================*/
.container-hero {
  /*box-sizing: border-box;*/
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--third-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/img16.jpg");
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block; /*кнопка по центру*/
  margin: 0 auto; /*кнопка по центру*/
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  letter-spacing: 0.06em;

  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 32px;
  padding-left: 32px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
}

.hero-button .link:hover,
.hero-button .link:focus,
.hero-button .link:active {
  color: var(--accent-color);
}

/* Наши Особенности текст ========*/
.feature-item-logo {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto;*/
  margin-right: 30px;
  /*margin-left: 30px; */
  /* list-style: none;*/
}
.features-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 0px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  /*font-family: Roboto;
    font-style: normal;*/
  /*font-weight: 400;*/
  font-size: 14px;
  width: 270px;
  line-height: 1.71;
  color: var(--primary-text-color); /* #757575;*/
}

/* Наши Особенности* Картинки-антена и т д ===========*/
.list-item::before {
  display: block; /*сдела по видео-уроку 20.11.*/
  content: "";
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: 65px 70px;
  background-position: center;
  margin-right: 30px;
  border-radius: 4px;
}
.list-item-Antena .feature-item-logo::before {
  content: "";
  background-image: url(../img/antenna.svg);
  width: 70px;
  height: 70px;
}
.list-item-Clock .feature-item-logo::before {
  background-image: url(../img/clock.svg);
  content: "";
  width: 70px;
  height: 70px;
}
.list-item-Diagram .feature-item-logo::before {
  background-image: url(../img/diagram.svg);
  content: "";
  width: 70px;
  height: 70px;
}
.list-item-Astronaut .feature-item-logo::before {
  background-image: url(../img/astronaut.svg);
  content: "";
  width: 70px;
  height: 70px;
}
/*.list-item-Astronaut .feature-item-logo:hover::before {
    color: var(--accent-color);
}*/
/*========Наши Особенности ИКОНКИ 1стр========*/
.list {
  display: flex;
  list-style: none;
  /*padding: ;*/
}
.list-item {
  width: 350px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

/*Примеры работ* ===============================*/
.work {
  padding-bottom: 94px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px; /*от Чем мы заним.до img*/
  margin-top: 0px;
  text-align: center;
  color: var(--title-text-color); /*#212121*/
}
.work-flex {
  display: flex;
  justify-content: space-between;
}
.work-flex + .item + .item {
  margin-left: 30px;
}
.work-flex .work-item {
  position: relative;
}
.work-list {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 370px;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  /* padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 82px;
    padding-right: 82px;*/
}
.work-info {
  width: fit-content;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
/*Команда*/
.team {
  background: #f5f4fa;
  /* padding-bottom: 94px; */ /*на секцию задаем*/
}
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  /*margin-bottom: 50px;*/
  line-height: 1, 16;
  text-align: center;
  padding-bottom: 50px; /*от Наша команда до img*/
  padding-top: 94px;
}
.team-flex {
  display: flex;
  justify-content: space-between; /*фото в строку*/
  padding-bottom: 94px; /* до футера*/
  padding-left: 15px; /*между фото*/
  padding-right: 15px;
}
.team-flex-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.team-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.16;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px; /*от имени до проф.*/
}
.team-prof {
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color); /* #757575;*/
  margin-bottom: 16px;
}

/*Секция о постоянных клиентах*/
.client {
  padding-bottom: 94px;
  padding-top: 94px;
}
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px; /*от h2 до img*/
  text-align: center;
  color: #212121;
}
.client-list {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.client-item {
  width: 170px;
  height: 90px;
  /* margin-right: 30px;*/
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /*плавный переход цвета при ховере*/
  /*padding-bottom: 94px;*/
  /* margin-right: 30px;*/
}
/*.client-svg {  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
}
/*.client-link:hover {
    border-color: var(--accent-color);
}*/

/* ИКОНИКИ icons под фото 1 стр Итнстаграм */
.icons {
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
}
.icon-list-link:hover .icon-list-svg,
.icon-list-link:focus .icon-list-svg {
  fill: #ffffff;
}
.icon-list-link:hover {
  background-color: var(--accent-color);
}
.icon-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.icon-list {
  display: flex;
  justify-content: center;
}
.icon-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  margin-right: 10px;
}
.icon-list-link:nth-last-child(-n + 4) {
  margin-right: 0;
}

/*ФУТЕР*/
.footer-title {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--third-bg-color);
}
.footer-box {
  display: flex;
  align-items: baseline;
}
.footer-left {
  margin-right: 70px;
}
.footer-center {
  display: block;
  justify-content: space-between;
}
.join {
  font-weight: 700;
  font-style: 400;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  background: var(--third-bg-color);
  /* margin-top: 72px;*/
}

/*===ИКОНКИ ФУТЕР===*/
.social-list {
  display: flex;
  justify-content: center;
}
.social-list-svg {
  width: 20px;
  height: 20px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  /* margin-bottom: 100px;*/
}
.social-list-item {
  margin-right: 10px;
}
.social-list-svg {
  fill: #ffffff; /*var(--primary-bg-color);*/
}
.social-list-link:hover {
  background-color: var(--accent-color);
}
/*================*/

/*=======ФУТЕР ЛОГО==========*/
.footer-logo {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-bg-color);
  text-decoration: none;
  margin-bottom: 20px;
}
.logo-color {
  color: var(--accent-color);
}
.footer-text {
  flex-direction: column;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  color: #ffffff;
}
.footer-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}
/* Герой Портфолио* 2-я стр ==============*/
.container-page-nav {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.button-list {
  justify-content: center;
  display: flex;
  margin-top: 94px;
  margin-bottom: 50px;
}
.button-list .button-nav {
  margin-right: 8px;
}
.button-list .button-nav:not(:last-child) {
  margin-right: 8;
}
.button-nav {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  align-items: center;
  display: block;
  text-decoration: none;
  margin: 0 auto;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  cursor: pointer;

  color: var(--title-text-color); /*#212121*/
  background-color: var(--second-bg-color); /*#F5F4FA;*/
  border: 1px solid #f5f4fa;
  border-radius: 4px;
}
.button-nav:hover,
.button-nav:active {
  color: var(--primary-bg-color); /*#ffffff*/
  background-color: var(--accent-color); /*#2196F3;*/
}

.button-nav.current {
  color: var(--accent-color);
}
.button-nav .link {
  color: var(--title-text-color);
}
.container-img {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 94px;
}
.container-img .carts {
  border: 1px solid #eeeeee;
  /*border-top: none;*/
}

.border {
  border: 1px solid #eeeeee;
  border-top: none;
}
.overlay {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  top: 0;
  left: 0;
  background-color: #2196f3;
  color: #ffffff;
}
.project-list-overlay {
  position: relative;
  overflow: hidden;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-list-item:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}
.project-list-item:hover {
  box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgb(0, 0, 0, 0.06), 1px 4px 4px rgb(0, 0, 0, 0.16);
}

.project-list-item {
  width: 370px;
  box-sizing: border-box;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-list-item:nth-child(3n) {
  margin-right: 0;
}
.project-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-list-item::before {
  font-weight: 400px;
  /*font-style: 400;*/
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  margin: 0 auto;
  top: 0;
  left: 0;
  opacity: 0;
}
.project-list-item > .overlay:hover,
.project-list-item > .overlay:focus {
  opacity: 1;
  background: rgba(33, 150, 243, 0.9);
}
/*.project-list-item::before {
    display: inline-block;
    counter-reset: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; 
    transform: translateX(-100%);
}
.project-list .project-list-item:hover {
    transform: translateX(0);
}
/*.img { 
    height: 294px; 
    width: 370px;
    border-radius: 0px;  
    background: url(portfolio-1.jpg);
    
}*/

/* ПОРТФОЛИО 2-я стр  =========*/
.img-title {
  display: block;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
}
.img-text {
  color: var(--primary-text-color); /* #757575;*/
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  letter-spacing: 0.03em;
}
